.movie-card {
  margin-bottom: 20px;
  border: none;
  background-color: #1c1c1c;
  color: #fff;
}

.movie-card .card-img {
  max-height: 100%;
}

.movie-card .card-body {
  padding: 20px;
}

.movie-card .card-title {
  font-size: 1.75rem;
}

.movie-card .card-subtitle i,
.movie-card .card-text i {
  margin-right: 5px;
}

.movie-card .card-text {
  margin-bottom: 0.5rem;
}

.movie-card .card-body strong {
  margin-right: 5px;
}

.movie-card-actions {
  display: flex;
  gap: 10px;
}

.movie-card-actions .btn-outline-success {
  color: green;
  border-color: green;
}

.movie-card-actions .btn-outline-warning {
  color: orange;
  border-color: orange;
}
