.container-custom {
  max-width: 1200px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.similar-movies .similar-movie-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.similar-movies .similar-movie-card:hover {
  transform: scale(1.05);
}
.add-to-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wishlist-buttons {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.wishlist-buttons.hide {
  opacity: 0;
}

.wishlist-buttons .btn-sm {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  opacity: 1; /* Show the button by default */
  transition: opacity 0.3s ease; /* Add transition */
}

.wishlist-buttons .btn-sm i {
  transition: opacity 0.3s ease; /* Add transition */
}

.wishlist-buttons .btn-sm span {
  margin-left: 5px;
  opacity: 0; /* Hide the text by default */
  transition: opacity 0.3s ease; /* Add transition */
}

.wishlist-buttons .btn-sm:hover span {
  opacity: 1; /* Show the text on hover */
}
