.container-custom {
  max-width: 1200px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.similar-movies .similar-movie-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.similar-movies .similar-movie-card:hover {
  transform: scale(1.05);
}
.add-to-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wishlist-buttons {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.wishlist-buttons.hide {
  opacity: 1;
}

.wishlist-buttons .btn-sm {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.wishlist-buttons .btn-sm i {
  margin-right: 5px;
}

.wishlist-buttons .btn-sm span {
  display: none;
}

.wishlist-buttons .btn-sm:hover span {
  display: inline-block;
}
